<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@clayui/css/lib/css/atlas.css"
    />
    <title>Gerenciar Clientes</title>
</head>
<body>
<h1 class="text-center">Gerenciar Clientes</h1>

<div th:if="${error}" class="alert alert-danger">
    <p>Erro ao criar cliente: <span th:text="${error}"></span></p>
</div>

<div th:if="${success}" class="alert alert-success">
    <p th:text="${success}"></p>
</div>

<!-- Formulário para criação de um novo cliente -->

<form th:action="@{/client/save}" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Nome:</label>
        <div class="col-md-4">
            <input type="text" id="name" name="name" required class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="file" class="control-label col-md-2">Arquivo:</label>
        <div class="col-md-10">
            <input type="file" id="file" name="testMapFile" required class="form-control-file">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Criar</button>
        </div>
    </div>
</form>

<!-- Tabela com a lista de clientes -->
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Arquivo</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td>
            <a th:href="@{/client/download/{id}(id=${client.id})}" download class="btn btn-secondary btn-sm"><span class="icon-download"></span> Download</a>
        </td>
        <td>
            <form th:action="@{/client/delete/{id}(id=${client.id})}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger btn-sm"><span class="icon-trash"></span> Excluir</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
